USE [AcademyMsr]
GO
/****** Object:  Table [dbo].[Passport]    Script Date: 27.04.2026 21:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passport](
	[IdPassport] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[PassportSeries] [nvarchar](4) NOT NULL,
	[PassportNumber] [nvarchar](6) NOT NULL,
	[SNILS] [nvarchar](14) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[IssueBy] [nvarchar](200) NOT NULL,
	[Registration] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Passport] PRIMARY KEY CLUSTERED 
(
	[IdPassport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27.04.2026 21:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.04.2026 21:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IdRole] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[INN] [varchar](12) NULL,
	[Description] [nvarchar](max) NULL,
	[Balance] [decimal](18, 2) NULL,
	[BonusPoints] [int] NULL,
	[PassportSeries] [nvarchar](4) NULL,
	[PassportNumber] [nvarchar](6) NULL,
	[SNILS] [nvarchar](14) NULL,
	[PassportIssueDate] [date] NULL,
	[PassportIssueBy] [nvarchar](200) NULL,
	[Registration] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 27.04.2026 21:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[IdUserDetail] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[INN] [char](10) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[IdUserDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 27.04.2026 21:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[IdWallet] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[BonusPoints] [int] NOT NULL,
	[LastTransaction] [datetime] NULL,
 CONSTRAINT [PK_Wallet] PRIMARY KEY CLUSTERED 
(
	[IdWallet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Passport] ON 

INSERT [dbo].[Passport] ([IdPassport], [IdUser], [PassportSeries], [PassportNumber], [SNILS], [IssueDate], [IssueBy], [Registration]) VALUES (1, 1, N'4501', N'120001', N'123-456-789 01', CAST(N'2016-04-27' AS Date), N'ОВД г. Москвы', N'г. Москва, ул. Примерная, д.1')
INSERT [dbo].[Passport] ([IdPassport], [IdUser], [PassportSeries], [PassportNumber], [SNILS], [IssueDate], [IssueBy], [Registration]) VALUES (2, 2, N'4502', N'120002', N'123-456-789 02', CAST(N'2016-04-27' AS Date), N'ОВД г. Москвы', N'г. Москва, ул. Примерная, д.2')
INSERT [dbo].[Passport] ([IdPassport], [IdUser], [PassportSeries], [PassportNumber], [SNILS], [IssueDate], [IssueBy], [Registration]) VALUES (3, 3, N'4503', N'120003', N'123-456-789 03', CAST(N'2016-04-27' AS Date), N'ОВД г. Москвы', N'г. Москва, ул. Примерная, д.3')
SET IDENTITY_INSERT [dbo].[Passport] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (2, N'Ученик')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (3, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Login], [Password], [Name], [IdRole], [FirstName], [LastName], [MiddleName], [BirthDate], [INN], [Description], [Balance], [BonusPoints], [PassportSeries], [PassportNumber], [SNILS], [PassportIssueDate], [PassportIssueBy], [Registration]) VALUES (3, N'sdfsaf', N'111111', N'fsaasdf', 2, NULL, NULL, NULL, NULL, N'773456789012', N'Тестовый пользователь для отладки системы.', CAST(2500.00 AS Decimal(18, 2)), 30, N'4503', N'120003', N'123-456-789 03', CAST(N'2016-04-27' AS Date), N'ОВД г. Москвы', N'г. Москва, ул. Примерная, д.3')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallet] ON 

INSERT [dbo].[Wallet] ([IdWallet], [IdUser], [Balance], [BonusPoints], [LastTransaction]) VALUES (1, 1, CAST(1500.00 AS Decimal(18, 2)), 10, CAST(N'2026-04-27T18:44:48.350' AS DateTime))
INSERT [dbo].[Wallet] ([IdWallet], [IdUser], [Balance], [BonusPoints], [LastTransaction]) VALUES (2, 2, CAST(2000.00 AS Decimal(18, 2)), 20, CAST(N'2026-04-27T18:44:48.350' AS DateTime))
INSERT [dbo].[Wallet] ([IdWallet], [IdUser], [Balance], [BonusPoints], [LastTransaction]) VALUES (3, 3, CAST(2500.00 AS Decimal(18, 2)), 30, CAST(N'2026-04-27T18:44:48.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wallet] OFF
GO
/****** Object:  Index [UQ_Passport_UserId]    Script Date: 27.04.2026 21:57:53 ******/
ALTER TABLE [dbo].[Passport] ADD  CONSTRAINT [UQ_Passport_UserId] UNIQUE NONCLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_INN]    Script Date: 27.04.2026 21:57:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_User_INN] ON [dbo].[User]
(
	[INN] ASC
)
WHERE ([INN] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserDetails_INN]    Script Date: 27.04.2026 21:57:53 ******/
ALTER TABLE [dbo].[UserDetails] ADD  CONSTRAINT [UQ_UserDetails_INN] UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Wallet_UserId]    Script Date: 27.04.2026 21:57:53 ******/
ALTER TABLE [dbo].[Wallet] ADD  CONSTRAINT [UQ_Wallet_UserId] UNIQUE NONCLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [BonusPoints]
GO
ALTER TABLE [dbo].[UserDetails] ADD  CONSTRAINT [DF_UserDetails_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Wallet] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Wallet] ADD  DEFAULT ((0)) FOR [BonusPoints]
GO
ALTER TABLE [dbo].[Passport]  WITH CHECK ADD  CONSTRAINT [FK_Passport_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Passport] CHECK CONSTRAINT [FK_Passport_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_User]
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Wallet] CHECK CONSTRAINT [FK_Wallet_User]
GO
